@import url('https://fonts.googleapis.com/css?family=Raleway');

$primary-dark: #873f7b;

$accent-one: #5ec3ee;
$accent-two: #ee8c4a;

$neutral-light: #e6edf1;

$font-color: #474a4b;
$font:'Raleway', sans-serif;

$main-blurred: '../img/main-blurred.png';

@mixin links($link, $visit, $hover, $active) {
  a {
    text-decoration: none;
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}

body, html {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
}


#app-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin: 0;
  height: 100vh;
  background-color: $neutral-light;
  color: $font-color;
  font-family: $font; 

  #display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52%;
    height: 100%;
    background:
    linear-gradient(
      rgba(darken($accent-one, 40%), 0.50),
      rgba(darken($accent-one, 40%), 0.50)
    ),
    url($main-blurred);
    background-repeat: no-repeat;
    background-size: cover;

    img {
      height: 80vh;
    }
  }

  #padding {
    padding: 20px;
  }

  #content-container {
    height: 100vh;
    width: 45%;
    overflow: auto;

    h1 {
      text-align: center;
      color: $accent-one;
    }
  }

  #navigation-container {
    @include links($font-color, $font-color, $accent-two, $font-color);
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 3%;
    font-size: 30px;
    background-color: $accent-one;

    #home, #archive, #shop, #contact {
      margin-top: 100px;
      transform: rotate(90deg);
    }
  }
}

@media all and (max-width: 1000px) {
  #app-container {
    flex-direction: column;

    #display-container {
      display: flex;
      width: auto;
      height: 300px;
      justify-content: center;
      align-items: center;

      img {
        height: 90%;
      }
    }

    #content-container {
      width: auto;
      margin-bottom: 50px;
    }


    #navigation-container {
      width: 100%;
      font-size: 20px;
      flex-direction: row;
      position: fixed;
      padding: 10px;
      bottom: 0;
      height: 30px;

      #home, #archive, #shop, #contact {
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 20px;
        transform: rotate(0deg);
      }
    }
  }
}